extends layout

block content
    h3 Comments
    div#react-comment-app-mount
    script(src='https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js')
    script(src='/javascripts/Comment.jsx', type='text/jsx')
    script(src='/javascripts/ReplyBox.jsx', type='text/jsx')
    script#comment-thread-script(src='/javascripts/CommentThreadApp.jsx', type='text/jsx', postId= postId)
