extends layout

block content
    div.row
        div.nine.columns
            h1= title 
        div.three.columns
            if user
                a(href='/u/' + user.username)= user.username
                |  | 
                a(href='/signout') logout
            else
                a(href='/signin') Sign In

    h2#subpy= subpy
