doctype html
html
    head
        title= subpy
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,600,700', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        // link(rel="stylesheet", href="/stylesheets/normalize.css")
        // link(rel="stylesheet", href="/stylesheets/skeleton.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(src="https://code.jquery.com/jquery-2.1.3.js")
        script(src="http://fb.me/JSXTransformer-0.13.1.js")
        script(src="http://fb.me/react-0.13.1.js")
        script(src="/javascripts/helper-functions.js")
        script(src="/javascripts/Post.jsx", type="text/jsx")
        script(src="/javascripts/UpvoteButton.jsx", type="text/jsx")
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        div#topbar
            h1
                a(href='/')#title= title
            // Top subpys listing
            div#react-subpyfiller-app-mount

            div#user-bar
                if user
                    a(href='/u/' + user.username)= user.username
                    | (
                    span= user.posts_score
                    | ) |
                    a(href='/signout')  logout
                else
                    a(href='/signin') Sign In

        // Sidebar stuff
        div#sidebar
            h3 Submit
            a.button(href= subpy + '/submit') Link Post
            br
            a.button(href= subpy + '/submit?text=true') Text Post

        div#content
            block content

        script(src="/javascripts/subpyfiller.js", type="text/jsx")
