extends layout
block content
    if textPost
        h2 Submit a new text post
    else
        h2 Submit a new link post
    form(name="newpost", action= "/r/" + subpy + "/submit", method="post")
        label(for="title") Title
        input(type="text", name="title", required="true", placeholder="Title...")
        br
        if textPost
            textarea(type="text", name="selftext", placeholder="Say something..." id="self-text-box")
        else
            label(for="link") Link
            input(type="text", name="link", required="true", placeholder="URL...")
        label(for="subpy") Subpy
        input(type="text", name="subpy", required="true", value=subpy)
        br
        input.button.button-primary(type="submit", value="Submit")
