extends layout

block content
    div.sidebar.three.columns
        if user
            h3= user.username
            p= user.posts_score
                |  post score
            p= user.comments_score
                |  comment score
        if errorMessage
            p.error-message= errorMessage
        div#react-posts-app-mount()
