extends layout

block content
    h1= title
    
    if errorMessage
        p.errorMessage
            span= errorMessage

    p Password goes through bcrypt before going into the database.

    form(name="signup", action="/signup", method="post")
        div.row
            div.six.columns
                    label(for="username") Username
                    input.u-full-width(type="text", name="username", placeholder="Enter your username...")

                    label(for="password") Password
                    input.u-full-width(type="password", name="password", required="true", placeholder="Enter your password...")

        div.row
            input(type="submit", value="Register")

    p= errorMessage
