extends layout

block content
    h1
        a(href='/r/' + subpy)#subpy= subpy
    div#react-posts-app-mount
        script#postsAppScript(src='http://localhost:9090/assets/PostsApp.bundle.js', subpy= subpy)
