/* universal */
* {
    box-sizing: border-box;
}

#title {
    font-size: 3.5rem;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

ul, li {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    /* font-size: 16px; */
    max-width: 960px;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 16px;
}

a {
    color: #5395FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: #333;
}

h1 a:hover {
    text-decoration: none;
    color: #555;
}

hr {
    border-width: 0;
    border-top: 1px solid #ddd;
    margin-top: 5px;
}

li {
    list-style-type: none;
}

/* Inspiration from Skeleton.css */
.button {
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
    line-height: 38px;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #BABABA;
    color: #BABABA;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.button:hover  {
    text-decoration: none;
    color: #777;
    border-color: #777;
}
.thread-reply-textarea {
    width: 300px;
    height: 100px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

/* ------------------------------
 * layout.jade
 * ------------------------------ */
#sidebar {
    float: right;
}

#subpy {
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: 20px;
    display: block;
}

#content {
    /* width: calc(100% - 250px); */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* margin-left: 300px; */
}

#topbar {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    margin-top: 30px;
    height: 120px;
}

#topbar h1 a {
}

#user-bar {
    float: right;
}

/* ------------------------------
 * subpyfiller.js
 * ------------------------------ */
.subpys-list li {
    display: inline;
    margin-right: 6px;
}

/* ------------------------------
 * postsfiller.js
 * ------------------------------ */
.posts-app a {
    text-decoration: none;
}

.posts-app a:hover {
    text-decoration: underline;
}

.posts-app p {
    margin: 0;
}

.posts-app ul {
    list-style-type: none;
}

/* ------------------------------
 * Post.jsx
 * ------------------------------ */
.post {
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}

.post-title {
    font-size: 1.25rem;
    display: block;
    margin-bottom: 5px;
    margin-left: 50px;
}

.post-info-banner {
    margin-left: 50px;
    color: #acacac;
    font-size: 0.875rem;
    display: block;
}

.post-info-banner a, .post-points {
    color: #616161;
}

.post-points-banner-upvoted {
    color: #FCA53D;
}

.post-upvote-button {
    cursor: pointer;
    float: left;
    position: relative;
    top: 5px;
    margin-right: 12px;
}

.post-upvote-button-not-upvoted {
    opacity: 0.75;
}

.post-upvote-button-not-upvoted:hover {
    opacity: 1.0;
}



/* ------------------------------
 * Comment.jsx
 * ------------------------------ */
.depth2 {
    margin-left: 50px;
}

.depth3 {
    margin-left: 100px;
}

.depth4 {
    margin-left: 150px;
}

.depth5 {
    margin-left: 200px;
}

.depth6 {
    margin-left: 250px;
}

.comment {
    margin-bottom: 20px;
}
.comment p {
    margin-top: 5px;
    margin-bottom: 0px;
}
.comment-top-banner {
    color: #acacac;
    font-size: 0.875rem;
}

.comment-author {
    font-weight: 700;
    color: #5395FF;
}
 
.comment-points-banner-upvoted {
    color: #FCA53D;
}

.comment-upvote-button {
    cursor: pointer;
}

/* ------------------------------
 * ReplyBox.jsx
 * ------------------------------ */
 .reply-box-reply-button {
    color: #acacac;
    cursor: pointer;
 }