body {
    /* font-size: 16px; */
}
.posts-app ul {
    list-style-type: none;
}

.postsList li:nth-child(even) {
    background: #fdfdfd;
}

.post {
    padding: 10px 5px 0px 0px;
}

.post-author-age {
    color: #999;
}

.post-title-author-age {
}

.post-score-app {
    display: inline-block;
    text-align: center;
}

.post-score {
    display: inline;
    font-size: 2rem;
}

.upvote-button {
    font-size: 2rem;
    cursor: pointer;
}

.post-title {
    font-size: 2rem;
}
